
.details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .user-details {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
  }
  
  .user-details h2 {
    margin-bottom: 20px;
  }
  
  .user-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .user-details li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .images-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .image {
    max-width: 90%;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
  }
  .fake-claim {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 20px; /* Add space from the left side */
  }